@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
	width: 100%;
	max-width: 1920px;
	margin: auto;
}



 /* Muslimbek start   */
    .main__header{
    width: 100%;
    height: 60px;
    border: 1px solid #000;
	padding: 11px 167px;
	background-color: rgba(55, 58, 60, 1);
    }
	.header{
		width: 1069px;
		height: 38px;
		display: flex;
		/* border: 1px solid #000; */
		align-items: center;
	}
	.nav__links{
		display: flex;
		margin-left: 260px;

	}
	.first{
		color: rgba(255, 255, 255, 1);
	}
	.nav__links--input{

	}
	.nav__links--link a{
		padding: 0px 14px;
		color: rgba(255, 255, 255, 0.5);
		align-items: center;
		display: flex;
	}
	.nav__links--input{
		border-radius: 4px;
		text-indent: 16px;
		width: 209px;
		height: 38px;
		outline : none;
		border: none;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		margin-left: 30px;
	}

	.nav__links--btn{
		width: 117px;
		border:none;
		background-color: transparent;
		font-weight: 400;
		font-size: 16px;
		line-height: 16px;
		color: rgba(255, 255, 255, 0.5);
		height: 20px;
		margin-left: 30px;
	}
	ion-icon{
		color: rgba(141, 216, 61, 1);
	}
	.hero__section{
		width: 100%;
		height: 620px;
		background-image: url(/images/Star-Wars-Battlefront-II-combat.png);
		color: rgba(255, 255, 255, 1);
	}
	.hero__section--title{
		font-weight: 400;
		font-size: 36px;
		line-height: 100%;
		margin-left: 820px;
		padding-top: 206px;
	}
	.hero__section--subtitle{
		/* padding-left: 00px; */
		
	}
	.hero__section--sliders{
		width: 100%;
		height: 30px;
		justify-content: space-between;
		display: flex;
		margin-top: 30px;
	}
	.hero__section--sliders--left{
		font-size: 30px;
	}
	.hero__section--sliders--right{
		font-size: 30px;

	}
	.hero__section--btn1{
		margin-left: 800px;
		width: 136px;
		height: 38px;
		background-color: rgba(141, 216, 61, 1);
		border-radius: 4px;
		color: #fff;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		border: none ;
	}
	.hero__section--btn2{
		width: 148px;
		height: 38px; 	
		background-image: linear-gradient( to bottom , rgba(55, 58, 60, 1) 50%, rgba(55, 58, 60, 1) 100%);
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		border-radius: 4px ;
		border : none ;
		color: white 	;
		margin-top: 80px;
	}
 /* Muslimbek end  */


/* Otabek start   */
 /* Otabek end   */


 /* Azizbek bro start   */
 /* Azizbek bro end  */


/* Bahriddin bro start */
/* Bahriddin bro end --> */


/* Shohruhbek start  */
/* Shohruhbek end  */