@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
	width: 100%;
	max-width: 1920px;
	margin: auto;
}



 /* Muslimbek start   */
    .main__header{
    width: 100%;
    height: 60px;
    border: 1px solid #000;
	padding: 11px 167px;
	background-color: rgba(55, 58, 60, 1);
    }
	.header{
		width: 1069px;
		height: 38px;
		display: flex;
		/* border: 1px solid #000; */
		align-items: center;
	}
	.nav__links{
		display: flex;
		margin-left: 260px;

	}
	.first{
		color: rgba(255, 255, 255, 1);
	}
	.nav__links--link a{
		padding: 0px 14px;
		color: rgba(255, 255, 255, 0.5);
		align-items: center;
		display: flex;
	}
	.nav__links--input{
		border-radius: 4px;
		text-indent: 16px;
		width: 209px;
		height: 38px;
		outline : none;
		border: none;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		margin-left: 30px;
	}

	.nav__links--btn{
		width: 117px;
		border:none;
		background-color: transparent;
		font-weight: 400;
		font-size: 16px;
		line-height: 16px;
		color: rgba(255, 255, 255, 0.5);
		height: 20px;
		margin-left: 30px;
	}
	ion-icon{
		color: rgba(141, 216, 61, 1);
	}
	.hero__section{
		width: 100%;
		height: 620px;
		background-image: url(/images/Star-Wars-Battlefront-II-combat.png);
		color: rgba(255, 255, 255, 1);
	}
	.hero__section--title{
		font-weight: 400;
		font-size: 36px;
		line-height: 100%;
		margin-left: 820px;
		padding-top: 206px;
	}
	.hero__section--sliders{
		width: 100%;
		height: 30px;
		justify-content: space-between;
		display: flex;
		margin-top: 30px;
	}
	.hero__section--sliders--left{
		font-size: 30px;
	}
	.hero__section--sliders--right{
		font-size: 30px;

	}
	.hero__section--btn1{
		margin-left: 800px;
		width: 136px;
		height: 38px;
		background-color: rgba(141, 216, 61, 1);
		border-radius: 4px;
		color: #fff;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		border: none ;
	}
	.hero__section--btn2{
		width: 148px;
		height: 38px; 	
		background-image: linear-gradient( to bottom , rgba(55, 58, 60, 1) 50%, rgba(55, 58, 60, 1) 100%);
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		border-radius: 4px ;
		border : none ;
		color: white 	;
		margin-top: 80px;
	}
 /* Muslimbek end  */


/* Otabek start   */
.section{
    width: 100%;
    height: 865px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, rgb(56, 56, 56) 50%, #202020 );
}


.section__tetx{
    font-size: 48px;
    font-weight: 400;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section__paragrf{
    font-size: 36px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.card{
    width: 320px;
    height: 420px;
    background-color: white;
    border-radius: 6px;
    border: 3px solid #8DD83D;
}

.card:hover{
    transform: scale(1.1);
}

.card__image{
    width: 316px;
    height: 180px;
    border-radius: 6px 6px 0 0 ;
    margin-bottom: 22px;
}

.card__text{
    padding: 0 20px;
}

.card__text--paragrf{
    font-size: 18px;
    font-weight: 400;
    color: #435766;
    margin-bottom: 15px;
}

.card__text--text{
    margin: auto;
    width: 220px;
    font-size: 24px;
    font-weight: 400;
    color: #435766;
    margin-bottom: 35px;
}

.card__text--btn{
    padding: 20px 20px;
    background-color: #8DD83D;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.card__text--btn:active{
    background-color: white;
    border: 2px solid #8DD83D;
    color: #8DD83D;
}

@media (max-width:400px){
    .section{
        width: auto;
        height: 1900px;
        flex-direction: column;
        padding: 5px 50px;
        align-items: center;
        justify-content: center;
    }
    

    .cards{
        display: block;
    }

    .card{
        margin-top: 30px;
    }

    .section__tetx{
        color: #ffffff;
        font-size: 18px;
    }
    footer{
    width: 100%;
    height: 350px;
    background-color: black;
    color: white;
    padding: 50px 100px;
    line-height: 40px;
}
}

 /* Otabek end   */


 /* Azizbek bro start   */
 .conteiner{
	width: 100%;
	height: 880px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("image.png");
}
.conteiner__title{
	font-weight: 400;
	font-size: 36px;
	text-align: center;
	margin-top: 95px;
	color: #fff;
}
.cardd{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}
.cardd__cards{
	width: 320px;
	height: 420px;
	background-color: #fff;
	text-align: center;
	border: 2px solid rgba(141, 216, 61, 1);
	margin-top: 55px;
}

.cardd__cards:hover{
	transform: scale(1.1);
}

.cardd__cards--img{
	width: 318px;
	height: 180px;
	border-radius: 4px;
	margin-bottom: 25px;
}
.cardd__cards--title{
	font-weight: 400;
	font-size: 18px;
	color:  rgba(67, 87, 102, 1);
}
.cardd__cards--paragraf{
	font-weight: 400;
	font-size: 21px;
	color:  rgba(67, 87, 102, 1);
	padding: 0 30px;
}
.cardd__cards--btn{
	padding: 15px 50px;
	background: rgba(141, 216, 61, 1);
	color: #fff;
	border-radius: 4px;
	border: none;
	margin-top: 109px;
}
.conteiner__btn{
	padding: 15px 50px;
	border: none;
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
	color: #fff;
	margin-top: 75px;
	margin-left: 597px;
	border-radius: 4px;
}

 /* Azizbek bro end  */


/* Bahriddin bro start */
/* Bahriddin bro end --> */


/* Shohruhbek start  */
footer{
    width: 100%;
    height: 350px;
    background-color: black;
    color: white;
    padding: 50px 100px;
    line-height: 40px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

h3{
    color: #7DD42F;
}

.liniya{
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background-color: #FFFFFF;
}

.kichik__yozuv{
     display: flex;
     align-items: center;
     justify-content: space-between;
}

/* Shohruhbek end  */