@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
	width: 100%;
	max-width: 1920px;
	padding: 0 120px;
	margin: auto;

}



 /* Muslimbek start   */
 /* Muslimbek end  */


/* Otabek start   */
 /* Otabek end   */


 /* Azizbek bro start   */
 /* Azizbek bro end  */


/* Bahriddin bro start */
/* Bahriddin bro end --> */


/* Shohruhbek start  */
/* Shohruhbek end  */