@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
	width: 100%;
	max-width: 1920px;
	padding: 0 120px;
	margin: auto;

}



 /* Muslimbek start   */
 /* Muslimbek end  */


/* Otabek start   */
.section{
    width: 100%;
    height: 865px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, rgb(56, 56, 56) 50%, #202020 );
}


.section__tetx{
    font-size: 48px;
    font-weight: 400;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section__paragrf{
    font-size: 36px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.card{
    width: 320px;
    height: 420px;
    background-color: white;
    border-radius: 6px;
    border: 3px solid #8DD83D;
}

.card:hover{
    transform: scale(1.1);
}

.card__image{
    width: 316px;
    height: 180px;
    border-radius: 6px 6px 0 0 ;
    margin-bottom: 22px;
}

.card__text{
    padding: 0 20px;
}

.card__text--paragrf{
    font-size: 18px;
    font-weight: 400;
    color: #435766;
    margin-bottom: 15px;
}

.card__text--text{
    margin: auto;
    width: 220px;
    font-size: 24px;
    font-weight: 400;
    color: #435766;
    margin-bottom: 35px;
}

.card__text--btn{
    padding: 20px 20px;
    background-color: #8DD83D;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.card__text--btn:active{
    background-color: white;
    border: 2px solid #8DD83D;
    color: #8DD83D;
}

@media (max-width:400px){
    .section{
        width: auto;
        height: 1900px;
        flex-direction: column;
        padding: 5px 50px;
        align-items: center;
        justify-content: center;
    }
    

    .cards{
        display: block;
    }

    .card{
        margin-top: 30px;
    }

    .section__tetx{
        color: #ffffff;
        font-size: 18px;
    }
}

 /* Otabek end   */


 /* Azizbek bro start   */
 /* Azizbek bro end  */


/* Bahriddin bro start */
/* Bahriddin bro end --> */


/* Shohruhbek start  */
/* Shohruhbek end  */